<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Tomorrow&display=swap" rel="stylesheet">
        <style>
            body{
                background-color: #33C3FF;
            }
            div {
                margin-top: 20%;
                text-align: center;
            }
            h1{
                font-family: 'Tomorrow',sans-serif;

            }
            </style>
        <title>
            Adventure Time
        </title>
    </head>
    <body>
        <div>
            <h1>
                Congratulations {{name}} you've won the game!!<br>
                <a href="/"><button type="button" class="btn btn-success">Restart Game</button></a>
            </h1>
        </div>
    </body>
</html>